<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Soft Skills</h3>
            <br />
            <ul>
                <li>Creatividad</li>
                <li>Trabajo en equipo</li>
                <li>Resolutivo</li>
                <li>Capacidad de adaptación.</li>
                <li>Capacidad comunicativa.</li>
                <li>Capacidad de organización.</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Hard Skills</h3>
            <br />
            <ul>
                <li>Habilidades de desarrollo con Java</li>
                <li>Habilidades de desarrollo con C++</li>
                <li> Habilidades de desarrollo con PL/MYSQL</li>
                <li>Habilidades de desarrollo con HTML/XML/XSL</li>
                <li>Habilidades de desarrollo con PHP</li>
                <li>Habilidades de desarrollo con ASP</li>
                <li>Habilidades de desarrollo con JavaScript</li>
            </ul>
        </div>
    </div>
</div>
